@using MyWebsite.Helper

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:black">
    @{ 
        string action = @ViewContext.RouteData.Values["action"].ToString();
        string controller = @ViewContext.RouteData.Values["controller"].ToString();
     }
    <div class="container " style="">
        <div class="row col-md-6 col-md-offset-3">
            @using (Html.BeginForm(@action, @controller, FormMethod.Get))
            {

                <input class="form-control col-lg-8" style="@Colors.Yellow background-color:black;border:none;border-bottom:#ffc107 solid 1px;border-bottom-right-radius:5mm;"
                       placeholder="Search..." name="searchString"
                       type="text" value="@ViewBag.CurrentFilter" />

                <button style="@Colors.DarkText border-color:#ffc107;background-color:black;border-bottom:none;border-top-left-radius:5mm;border-left:none" class="btn btn-default col-lg-2" type="submit">Go</button>

            }
        </div>
    </div>

    <div class="navbar navbar-inverse" style="color:yellow;background-color:#1f1a0e;border:solid 1px #ffc107;border-radius:3mm;border-top:none;border-left:none;border-right:none;margin:33px 4px;margin-top:10px">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { @style = (@ViewContext.RouteData.Values["action"].Equals("Index") && @ViewContext.RouteData.Values["controller"].Equals("Home")) ? Colors.selected : "color:#ffc107;" })</li>
            <li>@Html.ActionLink("Product", "Index", "Products", new { }, new { @style = (@ViewContext.RouteData.Values["action"].Equals("Index") && @ViewContext.RouteData.Values["controller"].Equals("Products")) ? Colors.selected : "color:#ffc107;" })</li>
            <li>@Html.ActionLink("About", "About", "Home", new { }, new { @style = @ViewContext.RouteData.Values["action"].Equals("About") ? Colors.selected : "color:#ffc107;" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @style = @ViewContext.RouteData.Values["action"].Equals("Contact") ? Colors.selected : "color:#ffc107;" })</li>
        </ul>
        <div style="padding-right:15px;">
            @Html.Partial("_LoginPartial")
        </div>

    </div>

    <div class="" style="width:90%;margin:auto">
        @RenderBody()
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>*@