@using MyWebsite.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<MyWebsite.Models.Shipping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-dark", @style = @Colors.Yellow + " border:1px solid;border-radius:2mm" })
</p>
<table class="table">
    <tr>
        <th style=@Colors.LightColorTitle>
            Image
        </th>
        <th style=@Colors.LightColorTitle>
            Product Name
        </th>
        <th style=@Colors.LightColorTitle>
            Product Price
        </th>
        <th style=@Colors.LightColorTitle>
            Product Quantity
        </th>
        <th style=@Colors.LightColorTitle>
            Purchase Id
        </th>
        <th style=@Colors.LightColorTitle>
            Purchase Date
        </th>
        <th style=@Colors.LightColorTitle>
            Payment Type
        </th>
        <th style=@Colors.LightColorTitle>
            Shipping Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.GetThumbnail(item.Purchase.Product.ProductImages.ToList()[0].Image)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.Product.Name)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.Product.Price)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.Product.Quantity)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.PurchaseId)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.PurchaseDate)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.Purchase.Payment)
            </td>
            <td style=@Colors.DarkText>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Purchase.Id }, new { @class = "btn btn-dark", @style = @Colors.Yellow  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Purchase.Id }, new { @class = "btn btn-dark", @style = @Colors.Yellow  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Purchase.Id }, new { @class = "btn btn-dark", @style = @Colors.Yellow  })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, sortOrder = ViewBag.sortOrder, sortDir = ViewBag.sortDir, currentFilter = ViewBag.CurrentFilter }))